<header id="cabecera">
  <!-- LOGO -->
  <div id="logo">
    <img src="../../../assets/images/logo.png" alt="Barberia Logo" />
    <a [routerLink]="['home']">
      Virtual Barber
    </a>
  </div>

  <!-- MENU -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['home']">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">Quienes somos</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Cortes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['agregarCorte']">Agregar Cortes</a>
            <a class="dropdown-item" [routerLink]="['estilosCortes']">Estilos cortes</a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Poductos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['agregarProducto']">Administrar productos</a>
            <a class="dropdown-item" [routerLink]="['tiendaProducto']">Productos en venta</a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Citas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['administrarCita']">Administrar cita</a>
            <a class="dropdown-item" [routerLink]="['solicitarCita']">Solicitar cita</a>

          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ng-container *ngIf="estaConectado(); else mostrarDesconectar">
          <button class="btn btn-outline-danger" role="button" (click)="salir()">Desconectar</button>
      </ng-container>
      <ng-template #mostrarDesconectar>
        <a class="btn btn-outline-danger" role="button" [routerLink]="['login']" style="margin-right: 10px;">Login</a>
        <a class="btn btn-outline-info" role="button" [routerLink]="['registro']">Registro</a>
        
      </ng-template>
      </form>
    </div>
  </nav>

</header>
