<div class="contenido animated fadeIn" style="margin-top: 5%;">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-wrap="true"
    data-interval="3500" data-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/about/about1.jpg" class="d-block w-100 rounded-top" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/about/about2.jpg" class="d-block w-100 rounded-top" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/about/about3.jpg" class="d-block w-100 rounded-top" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/about/about4.png" class="d-block w-100 rounded-top" alt="...">
      </div>
    </div>
  </div>
  <div class="resumen-somos">
    <br>
    <h2 class="text-primary">Quienes somos?</h2>
    <p>
      Imagina una mezcla entre la Barbería que visitaba tu abuelo y un toque de modernidad. Mezclamos
      un estilo old school con los nuevos estilos, logrando así una experiencia única y auténtica,
      como lo eres tú. Ofrecemos un menú de servicios para hombre que incluye corte, afeitada con
      toalla caliente, coloración, masajes, tratamientos faciales, depilación con cera, manicure y
      pedicure, entre otros.

      Nuestra obsesión es brindar un servicio destacado al cliente, por eso el nivel y energía de
      nuestro staff son fundamentales para lograr el objetivo principal... ¡tu entera satisfacción!.

      Recomendamos pedir cita con 72 horas de anticipación para asegurar tu espacio en cualquiera de
      nuestros shops.
      ¡Bienvenidos a Virtual Barber!
    </p>
    <div id="contacto">
      <h4>Contacto: 8901010 - 3138456732</h4>
      <h4>Direccion: Manizales / cr 23 # 50 - 20 La argentina</h4>

    </div>
  </div>

</div>