<div class="contenido-login animated fadeIn">
  <form (ngSubmit)="onSubmit(formRegistro)" #formRegistro="ngForm">

    <div class="form-group">
      <label for="inputCity">Nombre y apellido</label>
      <br>
      <span *ngIf="formRegistro.submitted && 
                    formRegistro.controls['nombre'].errors" class="text-danger">Ingrese un nombre valido</span>
      <input type="text" class="form-control" name="nombre" [(ngModel)]=usuario.nombre required
        placeholder="Ingrese su nombre completo">
    </div>



    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <br>
      <span *ngIf="formRegistro.submitted && 
                    formRegistro.controls['email'].errors" class="text-danger">Ingrese un email valido</span>
      <input type="email" class="form-control" name="email" [(ngModel)]=usuario.email required email
        placeholder="Ingrese su correo electronico">
    </div>

    <div class="form-group">
      <label for="inputPassword4">Password</label>
      <br>
      <span *ngIf="formRegistro.submitted && 
                    formRegistro.controls['password'].errors" class="text-danger">Ingrese un password valido</span>
      <input type="password" class="form-control" name="password" [(ngModel)]=usuario.password required minlength="8"
        placeholder="Ingrese una contraseña">
      
    </div>
    <div>
      <a routerLink="/login" class="text1">¿Ya tienes una cuenta? Ingresar</a>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-left: 42%;">Registrar</button>
  </form>
</div>